---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="flex h-screen">
		<div class="m-auto">
		  <h1 class="my-name theme-gradient">
			qzli.dev
		  </h1>
		  <h2 class="my-description">
			software developer (self-proclaimed)
		  </h2>
		</div>
	  </div>
</Layout>
